body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    color: #078163;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #e78080;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #f39c12;
}

.content {
    margin-top: 80px;
    padding: 20px;
}
